/* ===== MAIN CONTAINER ===== */
.cart-container {
    max-width: 1100px;
    margin: 30px auto;
    padding: 15px;
}

/* ===== CART ITEMS ===== */
#cartItems {
    display: flex;
    flex-direction: column;
}

/* ===== SINGLE ITEM ===== */
.cart-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    background: #ffffff;
    border-top: 2px solid #eee;
    transition: all 0.3s ease;
}

.cart-item:first-child {
    border-radius: 10px 10px 0 0;
    border-top: none;
}

.cart-item.removing {
    opacity: 0;
    transform: translateX(80px);
}

.first-sec {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* IMAGE */
.cart-item img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 6px;
}

/* INFO */
.cart-info {
    flex: 1;
}

.cart-info h4 {
    margin-bottom: 8px;
    font-size: 18px;
}

.cart-info p {
    font-size: 18px;
    color: #666;
}

/* QUANTITY BOX */
.quantity-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-box button {
    width: 28px;
    height: 28px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.quantity-box span {
    min-width: 20px;
    text-align: center;
}

/* REMOVE BUTTON */
.remove-btn {
    background: crimson;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* ===== SUMMARY ===== */
.cart-summary {
    position: sticky;
    bottom: 0;
    padding: 20px;
    background: var(--card-bg);
    border-top: 2px solid #eee;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart-summary h3 {
    font-size: 20px;
}

#checkoutBtn {
    padding: 10px 20px;
    background: var(--btn-bg);
    color: var(--btn-color);
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

#checkoutBtn:hover {
    transform: translateY(-3px);
    background: var(--btn-hover);
}

/* ===== EMPTY CART ===== */
.empty-cart {
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 10px;
}

.empty-icon {
    font-size: 60px;
    margin-bottom: 20px;
}

.empty-cart h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.empty-cart p {
    color: #777;
    margin-bottom: 20px;
}

.shop-btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--btn-bg);
    color: var(--btn-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s ease;
}

.shop-btn:hover {
    transform: translateY(-4px);
    background: var(--btn-hover);
}


@media (max-width: 768px) {

    .cart-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .cart-item {
        display: block;
        padding: 10px;
    }

    .cart-item:first-child {
        border-radius: 0;
    }

    .first-sec {
        margin-bottom: 20px;
    }

    .cart-item img {
        width: 100px;
        height: 100px;
    }

    .cart-info h4 {
        font-size: 16px;
    }

    .cart-info p {
        font-size: 14px;
    }

    .quantity-box {
        display: inline-block;
        width: 50%;
    }

    .quantity-box button {
        width: 22px;
        height: 22px;
        margin: 0 10px;
    }

    .removeDiv {
        display: inline-block;
        width: 40%;
        text-align: right;
    }

    .cart-summary {
        border-radius: 0;
    }

    .cart-summary h3 {
        font-size: 16px;
    }

    #checkoutBtn {
        padding: 10px 15px;
        font-size: 14px;
    }

    .empty-cart {
        height: 90vh;
        border-radius: 0;
    }

    .empty-icon {
        font-size: 50px;
    }

    .empty-cart h2 {
        font-size: 22px;
    }

}